<!DOCTYPE html>
<html lang="zh-hans" ng-app="ucpen">
<head>
    <meta charset="UTF-8">
    <title>动效平台首页</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/public/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/public/bower_components/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/public/component/css/edit.css">
</head>
<body>
<script>
    
    //所有字段html js css的信息
    var component = <%- JSON.stringify(component) %>;
    console.log('component');
    console.log(component);

    


    //左边栏分类
    var components = <%- JSON.stringify(components) %>;
    console.log('components');
    console.log(components);



    //编辑的分类
    var category = <%- JSON.stringify(category) %>; 
    console.log('category');
    console.log(category);



    //文件
    var files = <%- JSON.stringify(files) %>; 
    console.log('files');
    console.log(files);


    //历史版本
    var componentHistory = <%- JSON.stringify(componentHistory) %>; 
    console.log('componentHistory');
    console.log(componentHistory);


    //产品线
    var productLine = <%- JSON.stringify(productLines) %>; 
    console.log('productLines');
    console.log(productLine);


</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">编辑页面</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-controller="projectList">
            <div class="btn-group project-button" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
              <span>{{productName}}</span> <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="item in proList">
                        <a href="" >
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="" ng-click="createPage();">新建</a></li>
        <!-- <li><a href="" ng-click="save({html: html, css: css, javascript: javascript})">保存</a></li> -->
        <li><a href="" ng-click="html = ''; css = ''; javascript = '';">清除</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar sidebar-css-ark">
            <accordion>
                <accordion-group ng-repeat="itemCate in components" id="{{itemCate.id}}"  heading="{{itemCate.category}}">
                    <div ng-repeat="item in itemCate.example" id="{{item.componentID}}" ng-click="gotoExample(item.componentID)"><a href="/component/edit/{{item.componentID}}">{{item.componentName}}</a></div>
                </accordion-group>
            </accordion>
        </div>

        <div id="controlCreateView" class="col-sm-10 container-fluid" ng-show="isShowCreate">
            <div class="col-sm-6">
                <div class="form-group">
                    <label>样例名称 ： </label>
                    <input type="text" ng-model="exampleName" class="form-control">
                </div>

                <div class="form-group">
                    <label>选择分类 ： </label></br>
                    <div class="btn-group project-button" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                          <span>{{categoryCur}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="items in category">
                                <a href=""  ng-click="choiceCategory(items.categoryID, items.name)">
                                    {{items.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">HTML</header>
            <div class="" ui-codemirror="{
                lineNumbers: true,
                theme: 'monokai',
                lineWrapping : true,
                mode: 'htmlmixed'
              }" ng-model="html" ng-model-options="{
                debounce: 200
              }"></div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">CSS</header>
            <div class="" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'css'
            }" ng-model="css" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
    </div>
    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading">JavaScript</header>
            <div class="" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'javascript'
            }" ng-model="javascript" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
        <div class="col-sm-6">
           <section class="panel panel-default">
            <header class="panel-heading">Preview</header>
            <div class="embed-responsive embed-responsive-16by9-ark">
              <iframe class="col-sm-12 iframe-ark"  srcdoc="{{ compile({html: html, css: css, javascript: javascript}) }}" ng-cloak></iframe>
            </div>
          </section>
        </div>
    </div>

    <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <form action="/component/edit/" method="post" class="form-marginleft-ark" enctype="multipart/form-data">
            <input type="text" name="name" class="hide" value="{{exampleName}}" />
            <input type="text" name="categoryID" class="hide" value="{{categoryId}}" />
            <input type="text" name="html" class="hide" value="{{html}}" />
            <input type="text" name="js" class="hide" value="{{javascript}}" />
            <input type="text" name="css" class="hide" value="{{css}}" />


            <div class="form-group">
                <label>编辑已有文件 ： </label>
                <ul>
                    <div ng-repeat="fileItem in files" class="alert fileDiv-ark {{fileItem.componentFileID}}"  >{{fileItem.fileName}}
                        <a href="http://localhost:3000/{{fileItem.path}}">
                            <div class="btn btn-primary fileDivfork-left-ark" >
                                下载
                            </div>
                        </a>
                        <div class="btn btn-primary fileDivfork-ark" ng-click="deleteFiles(fileItem.componentFileID)">
                            删除
                        </div>
                    </div>
                </ul>
            </div>

            <div class="form-group">
                <label>上传文件 ： </label>
                <input type="file" name="file" multiple />
            </div>

            <div class="form-group">
                <label>历史版本 ： </label>
                 <ul>
                    <div ng-repeat="historyItem in componentHistory" class="alert fileDiv-ark"  >{{historyItem.updateContent}}
                        <div class="btn btn-primary fileDivfork-ark" ng-click="historyVersion(historyItem.componentID,historyItem.componentHistoryID)">
                                跳转
                            </div>
                    </div>
                </ul>
            </div>


            <input type="text" name="componentID" class="hide" value="{{componentID}}" />

            <input type="text" name="componentHistoryID" class="hide" value="{{componentHistoryID}}" />


            <div class="form-group remarks-div-width">
                <label>版本描述 ： </label>
                <ul>
                    <input type="text" name="updateContent" ng-model="updateContent" class="form-control">
                </ul>
            </div>


            <input type="submit" ng-click="watchUpdateContent()" class="btn btn-info btn-confirm-ark btn-com-ark" value="确认">

            <input type="button" class="btn btn-info btn-confirm-ark btn-com-ark" value="取消">

        </form>
    </div>



    <!-- <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <button type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;">确认</button>
        <button type="button" class="btn btn-info btn-com-ark" ng-click="isShowCreate=false;">取消</button>
    </div> -->

    </div>
  </div>
<script type="text/ng-template" id="init.html">
</script>
<script type="text/ng-template" id="init.css">
</script>
<script type="text/ng-template" id="init.js">
</script>

<script src="/public/bower_components/angular/angular.js"></script>
<script src="/public/bower_components/angular-animate/angular-animate.js"></script>
<script src="/public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="/public/bower_components/codemirror/lib/codemirror.js"></script>
<script src="/public/bower_components/codemirror/mode/xml/xml.js"></script>
<script src="/public/bower_components/codemirror/mode/css/css.js"></script>
<script src="/public/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="/public/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>

<script src="/public/component/js/edit.js"></script>

</body>
</html>
