<!DOCTYPE html>
<html lang="zh-hans" ng-app="ucpen">
<head>
    <meta charset="UTF-8">
    <title>动效平台首页</title>
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/public/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/public/bower_components/codemirror/theme/monokai.css">
    <link rel="stylesheet" href="/public/component/css/edit.css">
</head>
<body>
<script>
    
    //所有字段html js css的信息
    var component = <%- JSON.stringify(component) %>;
    console.log('component');
    console.log(component);

    


    //左边栏分类
    var components = <%- JSON.stringify(components) %>;
    console.log('components');
    console.log(components);



    //编辑的分类
    var category = <%- JSON.stringify(category) %>; 
    console.log('category');
    console.log(category);



    //文件
    var files = <%- JSON.stringify(files) %>; 
    console.log('files');
    console.log(files);


    //历史版本
    var componentHistory = <%- JSON.stringify(componentHistory) %>; 
    console.log('componentHistory');
    console.log(componentHistory);


    //产品线
    var productLine = <%- JSON.stringify(productLines) %>; 
    console.log('productLines');
    console.log(productLine);


</script>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <span class="navbar-brand">编辑页面</span>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li ng-controller="projectList">
            <div class="btn-group project-button" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
              <span>{{productName}}</span> <span class="caret"></span>
            </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="item in proList" ng-click="projectGroup(item.productLineID, item.name)">
                        <a href="" >
                            {{item.name}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li><a href="" ng-click="createPage();">新建</a></li>
        <!-- <li><a href="" ng-click="save({html: html, css: css, javascript: javascript})">保存</a></li> -->
        <li><a href="" ng-click="html = ''; css = ''; javascript = '';">清除</a></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 sidebar sidebar-css-ark">
            <accordion>
                <accordion-group ng-repeat="itemCate in components" id="{{itemCate.id}}"  heading="{{itemCate.category}}" is-open="openTarget==itemCate.category" is-disabled="openTarget!=itemCate.category" ng-click="open(itemCate.category)" >
                    <div ng-repeat="item in itemCate.example" id="{{item.componentID}}" ng-click="gotoExample(item.componentID)"><a href="/component/edit/{{item.componentID}}">{{item.componentName}}</a></div>
                </accordion-group>
            </accordion>
        </div>

        <div id="controlCreateView" class="col-sm-10 container-fluid posRev" ng-show="isShowCreate">
            <div class="previewImg {{previewFile.style}}">
            <img src="../../{{previewFile.path}}" alt='效果图' /><!--预览图放这里,初始是隐藏状态--></div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label>样例名称 ： </label>
                    <input type="text" ng-model="exampleName" class="form-control">
                </div>

                <div class="form-group">
                    <label>选择分类 ： </label></br>
                    <div class="btn-group project-button" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                          <span>{{categoryCur}}</span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                            <li role="menuitem" ng-repeat="items in category">
                                <a href=""  ng-click="choiceCategory(items.categoryID, items.name)">
                                    {{items.name}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


    <div class="col-sm-10 container-fluid" >
        <div class="col-sm-6">
           <section class="panel panel-default">
            <header class="panel-heading cc" ng-class="{bb: isPreviewFRAME}">Preview
                <div class="fileDivfork-ark" ng-click="changeWatchFRAME()">
                    {{textPreviewFRAME}}
                </div>
            </header>
            <div class="embed-responsive embed-responsive-16by9-ark" ng-class="{aa: isPreviewFRAME}">
              <iframe class="col-sm-12 iframe-ark"  srcdoc="{{ preview }}"  ng-cloak></iframe>
            </div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc" ng-class="{bb: isPreviewHTML}">HTML   
                <div class="fileDivfork-ark" ng-click="changeWatchHTML()" >
                    {{textPreviewHTML}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewHTML}" ui-codemirror="{
                lineNumbers: true,
                theme: 'monokai',
                lineWrapping : true,
                mode: 'htmlmixed'
              }" ng-model="html" ng-model-options="{
                debounce: 200
              }"></div>
          </section>
        </div>
    </div>
    <div class="col-sm-10 container-fluid">
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc"  ng-class="{bb: isPreviewCSS}">CSS/SASS
                <div class="fileDivfork-ark" ng-click="changeWatchCSS()" >
                    {{textPreviewCSS}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewCSS}"  ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'css'
            }" ng-model="css" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
        <div class="col-sm-6">
          <section class="panel panel-default">
            <header class="panel-heading cc"  ng-class="{bb: isPreviewJS}">JavaScript
                <div class="fileDivfork-ark" ng-click="changeWatchJS()" >
                    {{textPreviewJS}}
                </div>
            </header>
            <div ng-class="{aa: isPreviewJS}" ui-codemirror="{
              lineNumbers: true,
              theme: 'monokai',
              lineWrapping : true,
              mode: 'javascript'
            }" ng-model="javascript" ng-model-options="{
              debounce: 200
            }"></div>
          </section>
        </div>
    </div>

    <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <form action="/component/edit/" method="post" class="form-marginleft-ark" enctype="multipart/form-data">
            <input type="hidden" name="name" value="{{exampleName}}" />
            <input type="hidden" name="categoryID" value="{{categoryId}}" />
            <input type="hidden" name="html" value="{{html}}" />
            <input type="hidden" name="js" value="{{javascript}}" />
            <input type="hidden" name="css" value="{{css}}" />

            <div class="form-group" ng-show="showEditFile">
                <label>编辑已有文件 ：</label>

                <ul>
                    <div ng-repeat="fileItem in files" class="alert fileDiv-ark {{fileItem.componentFileID}}"  >{{fileItem.fileName}} <span class='font10 red'>{{fileItem.previewNotic}}</span>
                        <a href="/{{fileItem.path}}">
                            <div class="btn btn-primary fileDivfork-left-ark" >
                                下载
                            </div>
                        </a>
                        <div class="btn btn-primary fileDivfork-ark-1" ng-click="deleteFiles(fileItem.componentFileID)">
                            删除
                        </div>
                    </div>                    
                </ul>
            </div>

            <div class="form-group">
                <label>上传文件 ：<span class='red font12'>(如需上传预览图,请将图片命名为preview.jpg / preview.gif / preview.png其中一种)</span></label>
                <input type="file" name="file" multiple />
            </div>

            <div class="form-group" ng-init="hideOldHistory=false" ng-show="hideOldHistory">
                <label>历史版本 ： </label>
                 <ul>
                    <div ng-repeat="historyItem in componentHistory" class="alert fileDiv-ark"  >{{historyItem.createTime | date:'yyyy-MM-dd   hh:mm:ss'}}
                        <div class="btn btn-primary fileDivfork-ark" ng-click="historyVersion(historyItem.componentID,historyItem.componentHistoryID)">
                                跳转
                            </div>
                    </div>
                </ul>
            </div>

            <div class="form-group">
                <label>历史版本 ： </label></br>
                <div class="btn-group project-button" dropdown>
                    <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                      <span>版本号</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="single-button">
                        <li role="menuitem" ng-repeat="historyItem in componentHistory" ng-click="historyVersion(historyItem.componentID,historyItem.componentHistoryID)">
                        <a>
                            {{historyItem.createTime | date:'yyyy-MM-dd   hh:mm:ss'}}
                        </a>
                        </li>
                    </ul>
                </div>
            </div>

            <input type="text" name="componentID" class="hide" value="{{componentID}}" />

            <input type="text" name="componentHistoryID" class="hide" value="{{componentHistoryID}}" />


            <div class="form-group remarks-div-width">
                <label>动效描述 ： </label>
                <ul>
                    <textarea name="remarks" ng-model="updateContent" class="form-control">{{component.remarks}}</textarea>
                </ul>
            </div>


            <input type="submit" class="btn btn-info btn-confirm-ark btn-com-ark" value="确认">

            <input type="button" class="btn btn-info btn-confirm-ark btn-com-ark" value="取消">

        </form>
    </div>



    <!-- <div class="col-sm-10 container-fluid"  ng-show="isShowCreate">
        <button type="button" class="btn btn-info btn-confirm-ark btn-com-ark" ng-click="isShowCreate=false;">确认</button>
        <button type="button" class="btn btn-info btn-com-ark" ng-click="isShowCreate=false;">取消</button>
    </div> -->

    </div>
  </div>
<script type="text/ng-template" id="init.html"></script>
<script type="text/ng-template" id="init.css"></script>
<script type="text/ng-template" id="init.js"></script>

<script src="/public/bower_components/angular/angular.js"></script>
<script src="/public/bower_components/angular-animate/angular-animate.js"></script>
<script src="/public/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="/public/bower_components/codemirror/lib/codemirror.js"></script>
<script src="/public/bower_components/codemirror/mode/xml/xml.js"></script>
<script src="/public/bower_components/codemirror/mode/css/css.js"></script>
<script src="/public/bower_components/codemirror/mode/javascript/javascript.js"></script>
<script src="/public/bower_components/codemirror/mode/htmlmixed/htmlmixed.js"></script>
<script src="/public/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="/public/bower_components/angular-cookies/angular-cookies.js"></script>

<script src="/public/component/js/edit.js"></script>

</body>
</html>
